asgiref==3.8.1
Django==5.2
django-bootstrap5==25.1
dotenv==0.9.9
pillow==11.2.1
python-dotenv==1.1.0
sqlparse==0.5.3
tzdata==2025.2
psycopg2-binary==2.9.10
django-redis-sessions==0.6.2

# for nginx
gunicorn==21.2.0

# for tests
pytest==8.3.5
pytest-django==4.11.1
testcontainers==4.10.0
django-test-plus==2.2.4

# minio
boto3==1.38.3
django-minio-storage==0.5.7