.drop-zone {
    border: 2px dashed #007bff; /* Bootstrap primary color */
    border-radius: 0.25rem;
    padding: 25px;
    text-align: center;
    font-family: Arial, sans-serif;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.drop-zone.dragover {
    background-color: #e9ecef; /* Light gray for hover */
    border-color: #0056b3; /* Darker primary */
}

.drop-zone p {
    margin: 0;
    color: #6c757d; /* Bootstrap secondary text color */
}

.table th, .table td {
    vertical-align: middle;
}

/* Стили для лучшего отображения иконок рядом с текстом */
.bi {
    vertical-align: text-bottom; /* Или настройте по вкусу */
}

/* Toast messages fix for potential overflow */
.toast-body {
    word-break: break-word;
}

.card-body .table-responsive {
    width: 100%;
}

.card-body .table {
    width: 100%;
    table-layout: fixed;
}

/* Для текста в ячейках, чтобы он не выходил за границы */
.card-body .table td, .card-body .table th {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

/* Для колонки "Путь", чтобы она адаптировалась */
.text-truncate {
    max-width: 100%;
}

.card-body .table .btn {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

