/* Базовые стили для прижатия футера к низу */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}

/* Здесь могут быть другие ваши стили */
.header-logo {
    font-weight: 600;
}

.footer {
    margin-top: auto;
}